body {
  background-color: #1e1e1e;
}
.game-area {
  position: relative;
  width: 600px;
  height: 500px;
  border: 5px solid #bcb8b9;
  border-radius: 10px;
  margin: 50px auto;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 0 10px #abbfc0;
}

@media only screen and (max-width: 800px) {
  .game-area {
    position: relative;
    width: 350px;
    height: 300px;
  }

  .snake {
    width: 12px;
    height: 12px;
  }
}

.snake {
  position: absolute;
  width: 2%;
  height: 2%;
  background-color: #04dc28;
  border: 0.5px solid white;
  z-index: 2;
}

.food {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: rgba(212, 19, 19, 0.852);
  border: 0.5px solid white;
  border-radius: 20px;
  z-index: 1;
}
